.hero{
    background-color: #495E57;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width:400px;
    align-items: flex-start;
    height: minmax(60%, 100%);
    gap: 150px;
    padding-top: 80px;

  }


 h1{
    margin-top: 50px;
    font-size: 60px;
    font-family: 'Markazi Text';
    font-weight: 'semi-bold';
    color: #F4CE14
  }

 .hero h2{
    font-size: 30px;
    font-family: 'Markazi Text';
    font-weight: 100;
    color: #EDEFEE;
  }
  .hero p {
    text-align: start;
    margin-top: 70px;
    margin-right: 150px;
    color: #EDEFEE;
    padding-bottom: 30px;

  }

  .hero img{
    border-radius: 10px;
    width: 300px;
    height: 400px;
    margin-top: 20px

  }

  @media only screen and (max-width: 600px) {
    .hero {
      gap:1px;
    }
    
    .pic img{
      margin-right: 120px;
      width: 200px;
      height: 250px;
    }
  }

 
  .primaryButton{
    padding: 10px;
    background-color: #F4CE14;
    font-weight: bold;
    border-radius: 15px;
    margin-bottom: 30px;
  }

  .primaryButton:hover{
    background-color: #EE9972;
  }
