
.specialsTitle{
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap:40px;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 70px;
}

.specialsTitle h1{
  color: black;
  font-size: 30px;
  font-weight: bold;
}

#menuButton{
  padding: 10px;
  background-color: #F4CE14;
  font-weight: bold;
  border-radius: 15px;
  margin-top: 60px;
}

#menuButton:hover{
  background-color: #EE9972;
}

.specialSection{
  display: flex;
  width: 100%;
  justify-content:center;
  flex-wrap: wrap;
  gap:1rem;
  height: auto;
  padding-bottom:4rem;
}

.testimonialSection{
  background-color: #495E57;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 400px;

}

